.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: var(--mobile-breakpoint)) {
    width: var(--mobile-breakpoint);
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: var(--tablet-breakpoint)) {
    width: var(--tablet-breakpoint);
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: var(--desktop-breakpoint)) {
    width: var(--desktop-breakpoint);
    padding-left: 16px;
    padding-right: 16px;
  }
}
